### Simulation Setup
- Netlist: PASS
- ngspice: PASS


### DC Operating Point
- Data: PASS
- Ranges: Vds 0.00V to 1.20V, Vgs 0.00V to 1.20V, Ids -1.79e-02A to 2.87e-08A
- KCL: PASS


### Bias Point
- Analyzed: PASS
- Currents: PASS
- KCL: PASS
- Power: PASS


### CV
- Data: PASS
- Cgg: 7.08298e-15F to 1.39755e-14F (max @ 1.20V)
- Phase: FAIL


### S-Parameters
- Data: PASS


